<div class="row">
    <div class="col-md-12">
        <ul class="authors" style="padding-left: 0px">
            <li ng-repeat="author in authors"
                class="thumbnail">
                <a href="#/authors/{{ author.Id }}" class="thumb">
                    <img ng-src="{{ imageBase + author.PictureModels[0].ImageUrl }}" style="width: 50px"></a>
                <a href="#/authors/{{ author.Id }}">{{ author.Name }}</a>
                <p>{{author.ShortDescription}}</p>
            </li>
        </ul>
    </div>
</div>
