<div class="row">
    <div class="col-md-12">
        <ul class="authors" style="padding-left: 0px">
            <li ng-repeat="author in authors"
                class="thumbnail">
                <a href="#/authors/{{ author.id }}" class="thumb">
                    <img ng-src="{{ imageBase + author.pictureModels[0].imageUrl }}" style="width: 50px"></a>
                <a href="#/authors/{{ author.id }}">{{ author.name }}</a>
                <p>{{author.shortDescription}}</p>
            </li>
        </ul>
    </div>
</div>
