
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="book in books">
                    <td>
                        <img ng-src="{{ imageBase + book.PictureModels[0].ImageUrl }}" alt=""/>
                    </td>
                    <td>
                        {{ book.Name }}
                    </td>
                    <td>
                        {{ book.Author }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
