
<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-5">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="book in books">
                    <td>
                        <img ng-src="{{ imageBase + book.pictureModels[0].imageUrl }}" alt="" style="width: 30px"/>
                    </td>
                    <td>
                        {{ book.name }}
                    </td>
                    <td>
                        {{ book.author }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        &nbsp;
    </div>
</div>
